body { background: #54fc62; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-helper-0 { color: #e5508d; font-size: 19px; margin-bottom: 5px; }
.block-helper-1 { color: #584f86; font-size: 15px; margin-bottom: 5px; }
.block-invoice-2 { color: #64694; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #81ccab; font-size: 16px; margin-bottom: 5px; }
.block-config-4 { color: #4475e0; font-size: 13px; margin-bottom: 5px; }
.block-notify-5 { color: #a5e51a; font-size: 19px; margin-bottom: 5px; }
.block-uploader-6 { color: #2821b6; font-size: 14px; margin-bottom: 5px; }
.block-user-7 { color: #a00681; font-size: 17px; margin-bottom: 5px; }
.block-notify-8 { color: #5a4473; font-size: 16px; margin-bottom: 5px; }
.block-helper-9 { color: #df6ea7; font-size: 19px; margin-bottom: 5px; }
.block-order-10 { color: #34d3c7; font-size: 19px; margin-bottom: 5px; }